*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #565A5B;
    --clr-accent: #d9dad8c1;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        /* --fs-h3: 1.5rem; */
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* endable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
} */


body {
    background: var(--clr-light);
    /* color: var(--clr-dark); */
    margin: 0;
    font-family: var(--ff-primary) !important;
    font-size: var(--fs-body);
    line-height: 1.6 !important;
}

section {
    padding: 3em 2em;
}

img {
    display: block;
    max-width: 100%;
}

.about-me__img {
    visibility: hidden;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1 !important;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: black;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/*  Intro section  */

.intro {
    position: relative;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/*  My services section  */

.mrklva-services {
    background-color: var(--clr-dark);
    /* background-image: url(../img/services-bg.jpg); */
    /* background-size: cover; */
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
    overflow: hidden;
}

ul { list-style: none; }

.row {
    display: flex;
}

.column {
    flex: 50%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
}

.tab input, .tab-content { 
    display: none;
    transition: visibility 0s, opacity 0.5s linear;
}
   .tab {
    /* border-bottom: 1px solid #e9eaec;  */
    border-top: 1px solid #e9eaec; 
   }
   .tab-title {
    padding: 10px; /* Поля вокруг текста */
    display: block; /* Блочный элемент */
    text-transform: uppercase; /* Все буквы заглавные */
    cursor: pointer; /* Вид курсора */
    text-decoration: none !important;
   }
   .tab-content {
    padding: 10px 20px; /* Поля вокруг текста */
   }
   .tab :checked + .tab-title {
    background-color: grey; /* Цвет фона */
    border-radius: 3px 3px 0 0; /* Скругляем уголки */
    color: #fff; /* Цвет текста */
   }
   .tab :checked + .tab-title::after {
    content: '−'; /* Выводим минус */
   }
   .tab :checked ~ .tab-content {
    display: block; /* Показываем содержимое */
   }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    /* background-color: white; */
    display: none;
    overflow: hidden;
}

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    /* color: var(--clr-accent); */
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
}

.wrapper {
    /* margin: 0 auto; */
    overflow:hidden; 
    margin: 0 !important;
}

.svg-back {
    background-image: url(/img/fasad_1.svg);
    background-repeat: no-repeat;
    max-width: 1000px;
    height: 200px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .svg-back {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        position: relative;
        left: -1em;
        padding-left: 1em;
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}



.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .section__title--about {
        grid-area: title;
    }
    
    .section__subtitle--about {
        position: relative;
        left: -1em;
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Work */

.my-work {
    text-align: center;
    max-width: 1300px;  
    margin: auto; 
}

.portfolio {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

@media (max-width: 700px) {
    .portfolio {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.portfolio__item {
    overflow: hidden;
}

.portfolio__img {
    margin: auto; 
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}

.news-events-page--list-page {
text-align: center;
}

@media (min-width: 768px) {
.modal-dialog {
    width: 980px;
}
}
.customNavigation a {
position: absolute;
top: 35;
left: 0;
right: auto;
padding: 30px;
float: left;
font-size: 3em;
cursor: pointer;
z-index: 1;
}
.customNavigation a.next {
left: auto;
right: 0;
}
@media (min-width: 320px) {
.customNavigation a {
    top: 20%;
}
}
@media (min-width: 480px) {
.customNavigation a {
    top: 25%;
}
}
@media (min-width: 768px) {
.customNavigation a {
    top: 30%;
}
}
@media (min-width: 992px) {
.customNavigation a {
    top: 35%;
}
}

#sync1 .item {
background: #0c83e7;
margin: 5px;
color: #FFF;
border-radius: 3px;
text-align: center;
}

#sync2 .owl-item .item {
background: #333;
margin: 5px;
color: #FFF;
border-radius: 3px;
text-align: center;
cursor: pointer;
}
#sync2 .owl-item .item img {
opacity: 0.5;
}
#sync2 .owl-item.synced .item img {
opacity: 1;
}

.modal.in .modal-dialog {
border-radius: 0px;
}
.modal.in .modal-dialog .modal-content {
border-radius: 0px;
}

@media (max-width: 768px) {
    .modal.in .modal-dialog .modal-content {
        margin-top: 30vh;
    }
}

.modal.in .modal-dialog .modal-content .modal-header {
border-radius: 0px;
text-align: center;
}

/* footer */

.footer {
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}


/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.border {
    overflow: hidden;
    border-top: 2px solid #565A5B;
    border-bottom: 2px solid #565A5B;
}

.back_gradient_bottom {
    background: linear-gradient(white, white, white, #565A5B);
}

.back_gradient_top {
    background: linear-gradient(#565A5B, white, white, white );
}